#adradication-root {
  --primary-color: rgb(57, 113, 218);

  .fake-ad-container {
    position: absolute;

    .fake-ad {
      width: 350px;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      flex-direction: column;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      position: absolute;
  
      .fake-ad-banner {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding-top: 1px;
        padding-bottom: 1px;
        background-color: var(--primary-color);
        height: 25%;
        color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: .25;
        box-shadow: inset 0.165em 0.165em 0.165em 0 rgba(255,255,255,0.5), inset -0.165em -0.165em 0.165em 0 rgba(0,0,0,0.5);
        cursor: not-allowed;

        .fake-ad-banner-container {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .fake-ad-title {
            .fake-ad-icon {
              height: 18px;
              margin-right: 8px;
              flex-grow: .025;
            }
            float: left;
            margin-left: 8px;
            flex-grow: 9;
            display: flex;
            align-items: center;
            font-weight: bold;
            font-family: 'Courier New', monospace !important;
          }
    
          .fake-ad-close {
            border-color: white;
            border-width: 1.5px;
            border-style: solid;
            height: 30px;
            width: 30px;
            margin-right: 5px;
            border-radius: 2px;
            float: right;
            text-align: center;
            background-color: rgb(225, 81, 81);
            box-shadow: inset 0.165em 0.165em 0.165em 0 rgba(255,255,255,0.5), inset -0.165em -0.165em 0.165em 0 rgba(0,0,0,0.5);
            &:hover {
              box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
              background-color: rgb(188, 37, 37);
              cursor: pointer;
            }
          }
        }
      }

      .fake-ad-body {
        border-color: var(--primary-color);
        border-width: 4px;
        border-top-width: 0px;
        border-style: solid;
        flex-grow: 7.5;
        width: 342px;
        display: flex;
        justify-content: center;
        align-items: center;

        .fake-ad-img {
          background-color: var(--primary-color);
          height: 74px;
          width: 74px;
          margin: 13px;
          border-color: var(--primary-color);
          border-width: 3px;
          border-style: solid;
        }

        .fake-ad-primary {
          height: 100%;
          width: 324px;
          margin-left: 15px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .fake-ad-body-text {
            display: block;
            width: 100%;
            height: 50%;
            font-family: 'Courier New' !important;
            font-size: 11px;
          }

          .fake-ad-button {
            border-color: rgb(57, 255, 64);
            border-width: 2px;
            border-style: solid;
            flex-grow: .3;
            display: block;
            font-family: 'Courier New' !important;
            padding: 5px 15px;
            text-shadow: 0px 0px 5px rgb(39 90 41);
            border-radius: 20px;
            font-weight: bold;
            background-image: linear-gradient( rgb(57, 255, 64), rgb(41, 112, 43));
            color: white;
            &:hover {
              background-image: linear-gradient( rgb(57, 255, 64), rgb(55, 158, 56));
              cursor: pointer;
            }
          }

        }
      }
    }
  }
}