#react-root {
    .adblocker-warning {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
        color: white;
        text-shadow: 0 0 2px black;
    }
}
