#react-root {
    b {
        font-weight: bold;
        font-size: inherit
    }
    .loader {
      width: 600px;
      height: 450px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 32px;
      text-align: center;
      .spinner {
        height: 60px;
        width: 60px;
      }
    }
    .adblocker-warning {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
        color: white;
        text-shadow: 0 0 2px black;
    }
}
