#adradication-root {
  .adradication-win-state-container {
    height: 450px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(200, 200, 100);

    .win-state-field {
      .win-state-field-head {
        display: block;
        font-size: 14px;
      }
      .win-state-field-body {
        font-size: 15px;
        font-weight: bold;
      }
    }

    .win-state-sprite-container {
      background-color: rgb(200, 200, 100);
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: -40px;
      padding-top: 10px;
      .win-state-sprite {
        width: 200px;
        height: 200px;
        margin-top: -60px;
        // top: 10px;
        // position: absolute;
      }
    }
    .adradication-win-state {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      width: 387px;
      gap: 10px;
      padding-bottom: 10px;
      // position: absolute;
      // top: 170px;

      .win-message {
        font-size: 24px;
        font-weight: bold;
      }

      .win-score {
        font-size: 16px;
        font-weight: lighter;
        .score-number {
          font-size: 18px;
          font-weight: bolder;
        }
        .score-mul {
          font-size: 12px;
          display: block;
          text-align: center;
        }
      }

      .win-instruction {
        font-size: 14px;
        font-weight: lighter;
      }
    }
  }
}
