#adradication-root {
  .score-display {
    position: absolute;
    left: 15px;
    top: 60px;
    text-align: left;
    color: white;
    text-shadow: 0 0 4px black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

    .score {
      font-size: 24px;
    }
  }
}
