#adradication-root {
  .adradication-clickable-text {
    color: rgb(19, 93, 205);
    cursor: pointer;
    transition: color 0.25s;
    font-size: inherit;
    &:not(.disabled):hover {
      color: rgb(22, 70, 141);
    }
    &.disabled {
      color: rgb(59, 74, 97);
      cursor: default;
    }
  }
}
