#react-root {
  .adradication-button {
    padding: 10px;
    border-radius: 5px;

    &.primary {
      background-color: rgb(19, 93, 205);
      color: white;
      transition: background-color 0.25s;
      cursor: pointer;
      &:not(.disabled):hover {
        background-color: rgb(22, 70, 141);
      }
      &.disabled {
        background-color: rgba(19, 93, 205, 0.363);
        cursor: default
      }
    }

    &.secondary {
      background-color: rgb(225, 225, 225);
      color: rgb(100, 100, 100);
      transition: background-color 0.25s;
      cursor: pointer;
      &:not(.disabled):hover {
        background-color: rgb(200, 200, 200);
      }
      &.disabled {
        background-color: rgba(225, 225, 225, 0.453);
        cursor: default
      }
    }
  }
}
