#react-root {
    #login-page {
        width: 600px;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}