#adradication-root {
  #login-page {
    width: 600px;
    height: 450px;
    background-color: rgb(200, 200, 100);
    display: flex;
    align-items: center;
    justify-content: center;

    .login-card {
      border-radius: 10px;
      display: flex;
      background-color: white;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 350px;
      height: 250px;
      box-shadow: 0px 0px 20px rgb(96, 106, 25);
    }

    .login-page-header {
      font-size: 32px;
    }

    .login-button {
      margin: 7px;
      width: 75px;
      text-align: center;
    }

    .login-field {
      width: 75%;
    }
  }
}
