#react-root {
    .adradication-alert {
        padding: 5px 2px 5px 20px;
        margin-left: 15px;
        margin-top: 5px;
        width: 90%;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: left;
        
        &.error {
            background-color: indianred;
            color: maroon;
            border: 1px solid maroon;
        }
        
        &.success {
            background-color: #7bc37f;
            color: rgb(30, 142, 47);
            border: 1px solid rgb(30, 142, 47);
        }
        
        &.warn {
            background-color: rgb(245, 241, 14);
            color: rgb(183, 136, 26);
            border: 1px solid rgb(183, 136, 26);
        }

        .alert-close {
            float: left;
            height: 100%;
            font-size: 32px;
            display: inline;
            margin-right: 15px;
            cursor: pointer
        }
    }
}